<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hung va Hoa</title>
    <link rel="icon" type="image/png" href="like.png"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <div class="row">
        <div class="col s12 m3">

        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="hungvahoa.jpg">
                    <span class="card-title">When I am with you there's no place I rather be</span>
                </div>
            </div>
        </div>
    </div>

    <iframe width="560" height="315" style="display: none;"
        src="https://www.youtube.com/embed/ECxVfrwwTp0?rel=0&amp;start=63&amp;end=111&amp;autoplay=1" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

</body>

</html>